/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* global styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Barlow";
}

li,
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*hero section styles*/
.hero {
  background-image: url("/images/jpg/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 100px 86px;
}
.hero__title {
  color: #fefcf7;
  font-family: Fraunces;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
  margin-bottom: 32px;
}
.hero__text {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 60px;
}
.hero__btn {
  color: #fefcf7;
  text-align: center;
  font-family: Fraunces;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  padding: 15px 31px;
  border-radius: 6px;
  background: #0e8784;
}
.hero__btn:hover {
  transition: all 0.5s ease;
  border-radius: 6px;
  background: #66d2cf;
}

.nav {
  padding: 35px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 34px;
}
.nav__item {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.nav__item:hover {
  color: #333d4b;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

/*main section styles*/
.main-top {
  padding: 100px 0 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__title {
  display: flex;
  position: relative;
  color: #83888f;
  text-align: center;
  font-family: Fraunces;
  font-size: 150px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 72px; /* 48% */
  background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #fefcf7 100%);
  z-index: -1;
}
.main__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__list {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.main__list img {
  width: 255px;
  height: 193px;
  margin-bottom: 40px;
  position: relative;
  bottom: 10px;
  position: relative;
  margin-left: 40px;
}
.main__card-title {
  color: #333d4b;
  text-align: center;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 24px;
}
.main__card-info {
  color: #333d4b;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.main-bottom {
  background-color: #293039;
  padding: 100px 85px 0;
  position: relative;
  height: 500px;
  margin-bottom: 200px;
}
.main-bottom__title {
  color: #fefcf7;
  text-align: center;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
  margin-bottom: 24px;
}
.main-bottom__text {
  color: #fefcf7;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.main-bottom__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 290px;
}
.main-bottom__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 72px 57px 30px;
  border-radius: 8px;
  background: #0e8784;
}
.main-bottom__card-icon {
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
}
.main-bottom__card-title {
  color: #fefcf7;
  text-align: center;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 24px;
}
.main-bottom__card-text {
  color: #fefcf7;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.feature {
  padding: 180px 0 200px;
}
.feature__title {
  color: #83888f;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-left: 140px;
  margin-bottom: 80px;
}
.feature__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
  margin-bottom: 64px;
}
.feature__card-number {
  color: #fdd6ba;
  font-family: Fraunces;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 100% */
}
.feature__list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.feature__card-title {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
}
.feature__card-text {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.feature__btn {
  color: #fefcf7;
  border-radius: 6px;
  background: #0e8784;
  text-align: center;
  font-family: Fraunces;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
  padding: 15px 31px;
  margin-left: 125px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c343e;
  padding: 47px 85px;
  margin-bottom: 50px;
}
.footer__nav {
  display: flex;
  gap: 100px;
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__item {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.footer__item:hover {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.footer__icons {
  display: flex;
  gap: 20px;
}
.footer__icons img {
  width: 24px;
  height: 20px;
  position: relative;
}
.footer__icons img:hover {
  bottom: 3px;
}

/* container style */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.about-hero {
  background-image: url("/images/jpg/about-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 137px 85px;
  border-radius: 10px;
}

.about-main img {
  border-radius: 8px;
  position: relative;
}
.about-main__top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
  padding: 168px 0;
}
.about-main__subtitle {
  color: #fefcf7;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
  margin-bottom: 32px;
}
.about-main__subtext {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.about-main__title {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 120% */
  margin-bottom: 32px;
}
.about-main__text {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.about-main__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293039;
  gap: 32px;
}
.about-main__bottom img {
  bottom: 70px;
}

.about-feature {
  display: flex;
  gap: 72px;
  flex-direction: column;
  padding: 168px 0;
}
.about-feature__title {
  color: #83888f;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-left: 150px;
}
.about-feature__cards {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-left: 150px;
}
.about-feature__cards img {
  margin-bottom: 45px;
  width: 40px;
  height: 50px;
}
.about-feature__icon-title {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  margin-bottom: 24px;
}
.about-feature__icon-text {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.subscriber-hero {
  padding: 170px 86px 50px;
  border-radius: 10px;
  background-image: url("/images/jpg/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.subscriber-main__cards {
  display: flex;
  justify-content: space-between;
  background-color: #293039;
  margin: 170px 0;
  border-radius: 10px;
  padding: 85px 75px;
}

.subscriber-main__list {
  display: flex;
  flex-direction: column;
}

.subscriber-main__card-number {
  margin-bottom: 38px;
}

.subscriber-main__card-title {
  color: #fefcf7;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  margin-bottom: 42px;
}

.subscriber-main__card-text {
  color: #fefcf7;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.subscriber-feature__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 88px;
}
.subscriber-feature__top-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.subscriber-feature__top-item p {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  opacity: 0.8;
}
.subscriber-feature__top-item p span {
  margin-right: 35px;
  opacity: 0.6;
}
.subscriber-feature__top-item p::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #293039;
  display: block;
}
.subscriber-feature__top-item p:hover {
  opacity: 1;
}
.subscriber-feature__top-cards-title {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 56px;
  margin-top: 25px;
}
.subscriber-feature__card-list {
  display: flex;
  gap: 25px;
}
.subscriber-feature__card-item {
  padding: 32px 28px 40px;
  background-color: #f4f1eb;
  border-radius: 8px;
}
.subscriber-feature__card-items {
  padding: 32px 28px 40px;
  background-color: #0e8784;
  border-radius: 8px;
}

.subscriber-cards__title {
  color: #333d4b;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px; /* 133.333% */
  margin-bottom: 24px;
}

.subscriber-cards__text {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.subscriber-feature__bottom {
  display: flex;
  flex-direction: column;
  margin-left: 485px;
}

.feature__info {
  padding: 31px 64px;
  background-color: #293039;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 56%;
  margin-left: 485px;
  margin-top: 115px;
  margin-bottom: 67px;
  border-radius: 8px;
}

.info__info {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
}

.info__text {
  color: #fff;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
}
.info__text span {
  color: #0e8784;
  font-family: Fraunces;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.subscriber-feature__btn {
  margin-bottom: 10px;
  margin-left: 995px;
}

.style {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */